* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

<<<<<<< HEAD
=======
.background {
  background-color: #e5e5e5c9;
}

>>>>>>> e7649720... undo deleting everything
/*
.homepage,
.about,
.politicianbio,
.politicians {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
*/
.politicianbio {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.politicians {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.footer {
  background: linear-gradient(90deg, #699b2c 0%, #2d4a1a 100%);
<<<<<<< HEAD
  height: 40px;
  padding-top: 5px;
  bottom: 0;
  width: 100%;
}

/*** Homepage ***/

.homepage-background {
  background-image: url("components/images/capitol.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 840px;
}

.homepage-container {
  text-align:center;
  border-radius: 50px;
  background-color: #e5e5e5c9;
  padding: 20px;
}

.homepage-container p {
  font-size: 35px;
  padding-bottom: 20px;
}

.findinfo {
  width: 70%;
  margin: auto;
}

.featured-header {
  float:left;
}

/*** Recent Transactions ***/
=======
  height: 35px;
  padding-top: 5px;
}

/*** Homepage ***/
>>>>>>> e7649720... undo deleting everything
.topmoverheader {
  padding-top:20px;
}

.topmover-container{
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  background-color: white;
  border-radius: 50px;
  margin: 40px;
  padding: 30px;
  align-items: center;
}

.topmoverpie-pic, .topmoverline-pic {
  height: fill;
  width: fill;
  align-items: center;
}

.topmover-pic {
  border-radius: 30%;
  height: fill;
  width: fill;
  align-items: center;
}

.topmover-info {
  text-align: center;
}


.homepage-graph {
  border: 2px solid;
  align-items: center;
}


/*** Politician Page ***/
.politicianpic {
  margin-top: 40px;
  height: fill;
  width:fill;
}

/*** About Page ***/
.teaminfo, .aboutdata {
  border-radius: 50px;
  background-color: white;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  margin: 40px;
  padding: 30px;
  padding-top: 10px;
}

.teaminfoheader, .aboutdataheader {
  padding: 20px 0px 0px 0px;
}

.teaminfopic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  float: left;
  align-items: center;
  margin: 20px;
}

.teaminfo p{
  margin-left: 130px;
}

.aboutdata h5 {
  margin: 0px 0px 20px 0px;
}